---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: pinchflat-pdb
  namespace: {{ .Release.Namespace | .Values.namespace | default "pinchflat" }}
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: pinchflat
